<html>
<body>
<title>Adivina la palabra</title>
<h1>Adivina la palabra!</h1>
<br>
<br>
<select>
  <option value="frutas">Frutas</option>
</select> 
<form method=post action="validar">
Letra: <input type="text" id="letra" name="letra">
<input type="submit" name="ingresar" value="ingresarletra">
</form>
<p id="palabra">Adivina la palabra: <%=$palabra%></p>

<p id="letraingresada">Letra ingresada: <%=@letra%></p>

<p id="resultado">Resultado: <%=@resultado%></p>

<p id="intentos">Intentos restantes: <%=$intentos%></p>

</body>
</html>
